<main class="container">
    <div id="hotEvent">
        <h3 class="suggest_title">Sự kiện hot gần đây</h3>
        <div class="scollbar">
            <img class="event__poster event__poster--top" src="https://salt.tkbcdn.com/ts/ds/38/f6/ef/afb1d3c8ef2492054ae52fee6e5aa30c.png" alt="Ảnh poster" >
            <img class="event__poster event__poster--top" src="https://salt.tkbcdn.com/ts/ds/38/f6/ef/afb1d3c8ef2492054ae52fee6e5aa30c.png" alt="Ảnh poster" >
        </div>
    </div>
    <div id="monthEvent">
        <h3 class="suggest_title">Sự kiện tháng này</h3>
        <div class="scollbar">
            <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
            <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
            
        </div>
    </div>
    <div id="nearbyEvent">
        <h3 class="suggest_title">Sự kiện gần bạn</h3>
        <div class="scrollbar">
            <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
            <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
            <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
            
        </div>
    </div>
    <div id="workshopEvent">
        <h3 class="suggest_title">Work Shop hấp dẫn</h3>
        <div class="scrollbar">
            <img class="event__poster" src="https://ticketgo.vn/uploads/images/event-logo/event_logo-5849458c1df721c42378042f72ea9dc7.jpg" alt="Ảnh poster" >
            <img class="event__poster" src="https://ticketgo.vn/uploads/images/event-logo/event_logo-a09314f3a7868d8f807a345d69f17759.jpg" alt="Ảnh poster" >
            
        </div>
    </div>
</main>