<%- include('head')-%>

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Movies</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a class="text-body" href="/">Home</a>
                </li>
                <li class="breadcrumb-item text-light active" aria-current="page">
                    Movies
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px">
                    <h1 class="display-5 mb-3">Movies</h1>
                    <p>
                        Explore our amazing collection of films, from thrilling action blockbusters to unique
                        artistic masterpieces.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-1">Action</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">Romance
                        </a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-3">Sci-Fi</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/us.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">US</a>
                                <p class="text-clamp">
                                    After the elder brother returns to his hometown, he must
                                    find a way to save his younger sister from a bizarre
                                    illness that is causing her to behave differently.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/death_whisperer.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Death Whisperer</a>
                                <p class="text-clamp">
                                    Adelaide Wilson and her family are attacked by mysterious
                                    figures dressed in red. Upon closer inspection, the
                                    Wilsons realise that the intruders are exact lookalikes of
                                    them.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/dvw.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Deadpool</a>
                                <p class="text-clamp">
                                    Deadpool's peaceful existence comes crashing down when the
                                    Time Variance Authority recruits him to help safeguard the
                                    multiverse. He soon unites with his would-be pal,
                                    Wolverine, to complete the mission and save his world from
                                    an existential threat.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/kraven.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/etail">Kraven</a>
                                <p class="text-clamp">
                                    Kraven's complex relationship with his ruthless father
                                    starts him down a path of vengeance, motivating him to
                                    become not only the greatest hunter in the world, but also
                                    one of its most feared.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/mai.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Mai</a>
                                <p class="text-clamp">
                                    A Vietnamese woman has endured many difficulties in her
                                    life. When she meets her neighbour, they develop feelings
                                    for each other.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/smile.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Smile</a>
                                <p class="text-clamp">
                                    After witnessing a bizarre, traumatic incident involving a
                                    patient, Dr. Rose Cotter starts experiencing frightening
                                    occurrences that she can't explain. As an overwhelming
                                    terror begins taking over her life, Rose must confront her
                                    troubling past in order to survive and escape her
                                    horrifying new reality.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/the_fall_guy.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">The fall guy</a>
                                <p class="text-clamp">
                                    After leaving the business one year earlier,
                                    battle-scarred stuntman Colt Seavers springs back into
                                    action when the star of a big studio movie suddenly
                                    disappears. As the mystery surrounding the missing actor
                                    deepens, Colt soon finds himself ensnared in a sinister
                                    plot that pushes him to the edge of a fall more dangerous
                                    than any stunt.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/venom.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Venom</a>
                                <p class="text-clamp">
                                    Eddie Brock and Venom must make a devastating decision as
                                    they're pursued by a mysterious military man and alien
                                    monsters from Venom's home world.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-accent rounded-pill py-3 px-5" href="/product">Browse More Movies</a>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/us.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">US</a>
                                <p class="text-clamp">
                                    After the elder brother returns to his hometown, he must
                                    find a way to save his younger sister from a bizarre
                                    illness that is causing her to behave differently.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/death_whisperer.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Death Whisperer</a>
                                <p class="text-clamp">
                                    Adelaide Wilson and her family are attacked by mysterious
                                    figures dressed in red. Upon closer inspection, the
                                    Wilsons realise that the intruders are exact lookalikes of
                                    them.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/dvw.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Deadpool</a>
                                <p class="text-clamp">
                                    Deadpool's peaceful existence comes crashing down when the
                                    Time Variance Authority recruits him to help safeguard the
                                    multiverse. He soon unites with his would-be pal,
                                    Wolverine, to complete the mission and save his world from
                                    an existential threat.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/kraven.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Kraven</a>
                                <p class="text-clamp">
                                    Kraven's complex relationship with his ruthless father
                                    starts him down a path of vengeance, motivating him to
                                    become not only the greatest hunter in the world, but also
                                    one of its most feared.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/mai.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Mai</a>
                                <p class="text-clamp">
                                    A Vietnamese woman has endured many difficulties in her
                                    life. When she meets her neighbour, they develop feelings
                                    for each other.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/smile.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Smile</a>
                                <p class="text-clamp">
                                    After witnessing a bizarre, traumatic incident involving a
                                    patient, Dr. Rose Cotter starts experiencing frightening
                                    occurrences that she can't explain. As an overwhelming
                                    terror begins taking over her life, Rose must confront her
                                    troubling past in order to survive and escape her
                                    horrifying new reality.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/the_fall_guy.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">The fall guy</a>
                                <p class="text-clamp">
                                    After leaving the business one year earlier,
                                    battle-scarred stuntman Colt Seavers springs back into
                                    action when the star of a big studio movie suddenly
                                    disappears. As the mystery surrounding the missing actor
                                    deepens, Colt soon finds himself ensnared in a sinister
                                    plot that pushes him to the edge of a fall more dangerous
                                    than any stunt.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/venom.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Venom</a>
                                <p class="text-clamp">
                                    Eddie Brock and Venom must make a devastating decision as
                                    they're pursued by a mysterious military man and alien
                                    monsters from Venom's home world.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/etail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-accent rounded-pill py-3 px-5" href="/product">Browse More Movies</a>
                    </div>
                </div>
            </div>
            <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/us.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">US</a>
                                <p class="text-clamp">
                                    After the elder brother returns to his hometown, he must
                                    find a way to save his younger sister from a bizarre
                                    illness that is causing her to behave differently.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/death_whisperer.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Death Whisperer</a>
                                <p class="text-clamp">
                                    Adelaide Wilson and her family are attacked by mysterious
                                    figures dressed in red. Upon closer inspection, the
                                    Wilsons realise that the intruders are exact lookalikes of
                                    them.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/dvw.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Deadpool</a>
                                <p class="text-clamp">
                                    Deadpool's peaceful existence comes crashing down when the
                                    Time Variance Authority recruits him to help safeguard the
                                    multiverse. He soon unites with his would-be pal,
                                    Wolverine, to complete the mission and save his world from
                                    an existential threat.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/kraven.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Kraven</a>
                                <p class="text-clamp">
                                    Kraven's complex relationship with his ruthless father
                                    starts him down a path of vengeance, motivating him to
                                    become not only the greatest hunter in the world, but also
                                    one of its most feared.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/mai.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Mai</a>
                                <p class="text-clamp">
                                    A Vietnamese woman has endured many difficulties in her
                                    life. When she meets her neighbour, they develop feelings
                                    for each other.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/smile.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Smile</a>
                                <p class="text-clamp">
                                    After witnessing a bizarre, traumatic incident involving a
                                    patient, Dr. Rose Cotter starts experiencing frightening
                                    occurrences that she can't explain. As an overwhelming
                                    terror begins taking over her life, Rose must confront her
                                    troubling past in order to survive and escape her
                                    horrifying new reality.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/the_fall_guy.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">The fall guy</a>
                                <p class="text-clamp">
                                    After leaving the business one year earlier,
                                    battle-scarred stuntman Colt Seavers springs back into
                                    action when the star of a big studio movie suddenly
                                    disappears. As the mystery surrounding the missing actor
                                    deepens, Colt soon finds himself ensnared in a sinister
                                    plot that pushes him to the edge of a fall more dangerous
                                    than any stunt.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="product-item">
                            <div class="position-relative bg-light overflow-hidden">
                                <img class="img-fluid w-100 fixed-size" src="img/product/venom.jpg" alt="" />
                                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">
                                    New
                                </div>
                            </div>
                            <div class="text-center p-4">
                                <a class="d-block h5 mb-2" href="/detail">Venom</a>
                                <p class="text-clamp">
                                    Eddie Brock and Venom must make a devastating decision as
                                    they're pursued by a mysterious military man and alien
                                    monsters from Venom's home world.
                                </p>
                            </div>
                            <div class="d-flex border-top">
                                <small class="w-50 text-center border-end py-2">
                                    <a class="text-body" href="/detail"><i class="fa fa-eye text-primary me-2"></i>View
                                        detail</a>
                                </small>
                                <small class="w-50 text-center py-2">
                                    <a class="text-body" href=""><i class="fa fa-shopping-bag text-primary me-2"></i>Add
                                        to cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
                        <a class="btn btn-accent rounded-pill py-3 px-5" href="/product">Browse More Movies</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->

<%- include('foot')-%>
