.header{
    height:140px;
    width:100%;
    z-index: 9999;
    position: sticky;
    top:0;
}
.top{
    display:flex;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    background-color:#aaa6a9;
}
#logo{
    width:55px;
    height:55px;
    margin: 0 15px;
}
.top__left{
    display:flex;
    align-items: center;
}

.top__right__item{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
nav{
    display: flex;
    justify-content:flex-start;
    padding: 0 10% 5px;
    margin: 10px 0;
    border-bottom: solid 2px lightgray;
}
.navbar__item{
    padding: 9px 60px;
    color:var(--text-color);
    margin: 10px 5px;
    font-size: var(--text-size);
    border-color: transparent;
    background-color: #D3D3D3;
    color:gray;
    border-radius: 5px;
}
.container{
    display:flex;
    flex-direction: column;
    padding:20px 50px;
}

.suggest_title{
    font-size:24px;
}
.scrollbar{
    display:inline-block;
}
.event__poster{
    border-radius:8px;
    margin: 0 10px;
    cursor:pointer;
}
.event__poster--top{
    width:calc(100%/2 - 25px);
    height:500px;
}

@keyframes hoverPoster{
    from{
        opacity:1;
    }
    to{
        opacity:0.5;
    }
}
.event__poster:hover{
    animation: hoverPoster 0.3s forwards;
}
.event__poster :not(:hover){
    opacity: 1;
}

.footer{
    height:200px;
    background-color: black;
}

