<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Box</title>
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/home-page.css" rel="stylesheet">
    <link href="../css/var.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>

    <div class="app">
        <header class="header">
            <div class="top">
                <div class="top__left">
                    <img id="logo" src="../images/logo.png" >
                    <h1 id= "title">Ticket Box</h2>
                </div>
                <div class="top__right">
                    <button class="top__right__item" type="button" onclick="CancelHidden()">Log in</button>
                    <button class="top__right__item">Sign up</button>
                </div>      
                   
            </div>

            <nav id ="navbar">
                <button  class="navbar__item">Home</button>
                <button  class="navbar__item">Music</button>
                <button  class="navbar__item">Performance & Art</button>
                <button  class="navbar__item">Others</button>
            </nav>
            <section id="Login" class="hidden">
                <div class="Login">
                    <h1 class="loginRegister-heading">Login</h1>
                    <!-- Thêm form với phương thức POST -->
                    <form action="/login" method="POST">
                        <div class="inputBox">
                            <input type="text" name="username" class="username" placeholder="" required>
                            <label for="username">Username</label>
                        </div>
                
                        <div class="inputBox">
                            <input type="password" name="password" class="password" placeholder="" required>
                            <label for="password">Password</label>
                        </div>
                
                        <button type="submit" class="submitButton">Log In</button>
                    </form>
                    
                    <div class="forget">
                        <a href="#">Forgot password?</a>
                    </div>
                
                    <div class="Login_Register">
                        <a href="#">Create an account</a>
                    </div>
                </div>
            </section>
        </header>
        <!-- login -->

        <!-- Phần login -->

        <div id="overlay" class="hidden"></div>

        <!-- login -->
        <main class="container">
            <div id="hotEvent">
                <h3 class="suggest_title">Sự kiện hot gần đây</h3>
                <div class="scollbar">
                    <img class="event__poster event__poster--top" src="https://salt.tkbcdn.com/ts/ds/38/f6/ef/afb1d3c8ef2492054ae52fee6e5aa30c.png" alt="Ảnh poster" >
                    <img class="event__poster event__poster--top" src="https://salt.tkbcdn.com/ts/ds/38/f6/ef/afb1d3c8ef2492054ae52fee6e5aa30c.png" alt="Ảnh poster" >
                </div>
            </div>
            <div id="monthEvent">
                <h3 class="suggest_title">Sự kiện tháng này</h3>
                <div class="scollbar">
                    <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
                    <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
                    
                </div>
            </div>
            <div id="nearbyEvent">
                <h3 class="suggest_title">Sự kiện gần bạn</h3>
                <div class="scrollbar">
                    <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
                    <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
                    <img class="event__poster" src="https://ticketbox.vn/_next/image?url=https%3A%2F%2Fimages.tkbcdn.com%2F2%2F360%2F479%2Fts%2Fds%2F86%2F50%2Fa1%2F5c12e67e7c6a7a5f3a76869635204c5a.jpg&w=1920&q=75" alt="Ảnh poster" >
                    
                </div>
            </div>
            <div id="workshopEvent">
                <h3 class="suggest_title">Work Shop hấp dẫn</h3>
                <div class="scrollbar">
                    <img class="event__poster" src="https://ticketgo.vn/uploads/images/event-logo/event_logo-5849458c1df721c42378042f72ea9dc7.jpg" alt="Ảnh poster" >
                    <img class="event__poster" src="https://ticketgo.vn/uploads/images/event-logo/event_logo-a09314f3a7868d8f807a345d69f17759.jpg" alt="Ảnh poster" >
                    
                </div>
            </div>
        </main>
        <footer class="footer">
    
        </footer>

    </div>
            
    <script src="./js/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>