<header class="header">
    <div class="top">
        <div class="top__left">
            <img id="logo" src="../images/logo.png" alt="Logo">
            <h1 id="title">Ticket Box</h1>
        </div>
        <div class="top__right">
            <img class="header__account" onclick="toggleDropdown()" src="https://cdn.icon-icons.com/icons2/2643/PNG/512/avatar_female_woman_person_people_white_tone_icon_159360.png" alt="Account">
            <ul class="account__options">
                <li class="account__options__items">Profile</li>
                <li class="account__options__items">Settings</li>
                <li class="account__options__items">Logout</li>
            </ul>
        </div>         
    </div>
    <nav id="navbar">
        <button class="navbar__item">Home</button>
        <button class="navbar__item">Music</button>
        <button class="navbar__item">Performance & Art</button>
        <button class="navbar__item">Others</button>
        <button class="navbar__item" type="button" id="loginBtn">Login</button>
    </nav>

    <div id="loginPopup" class="popup">
        <div class="popup-content">
            <h1 class="loginRegister-heading">Login</h1>
            <form action="/" method="POST"> <!-- Ngăn gửi form -->
                <div class="inputBox">
                    <input type="text" class="username" placeholder="" required>
                    <label for="username">Username</label>
                </div>
                
                <div class="inputBox">
                    <input 
                        id="password"  
                        type="password" 
                        class="password" 
                        placeholder="" 
                        pattern="[0-9a-fA-F]{8,20}"   
                        title="Enter an ID consisting of 8-20 hexadecimal digits"
                        autocomplete="new-password"
                        required
                    >
                    <label for="password">Password</label>
                    <button type="button" id="togglePassword">Show</button>
                </div>
                <button type="submit" class="submitButton">Log In</button>
            </form>
            <div class="forget">
                <a href="#">Forgot password?</a>
            </div>
            <div class="Login_Register">
                <a href="#">Create an account</a>
            </div>
        </div>
    </div>
</header>

